@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is for the background in login, register, choose username and loading pages */
.background-auth {
  background-image: url(../public/background.svg);
}

/** This is for the principal button in the app */
.btn {
  @apply font-ptSans flex items-center gap-3 justify-center outline outline-1 p-2 rounded-lg font-semibold text-lg transition ease-in-out active:scale-95 hover:bg-white hover:text-indigo-800;
}

/** This is for the button in the modal */
.btn-modal {
  @apply btn mt-2 bg-indigo-700 text-white outline-none hover:bg-indigo-800 hover:text-white;
}

/** This is for the button when is selected */
.btn-selected {
  @apply btn bg-white text-indigo-800;
}

/** This is for the button in the profile page */
.btn-settings {
  @apply font-ptSans flex items-center justify-center p-2 rounded-lg font-semibold text-lg transition ease-in-out active:scale-95 hover:bg-indigo-900 bg-indigo-800 dark:bg-gray-800 dark:hover:bg-gray-700 z-10 gap-2;
}

/** This is for the icon buttons */
.btn-icon {
  @apply hover:opacity-80
}

/** Tittles configuration */
h5 {
  @apply text-lg text-indigo-900 dark:text-white font-semibold font-workSans;
}

h4 {
  @apply text-xl text-black dark:text-white font-semibold font-workSans;
}

h3 {
  @apply text-3xl text-slate-900 dark:text-white font-semibold font-workSans;
}

h2 {
  @apply text-4xl text-indigo-900 dark:text-white font-semibold font-nunito;
}

h1 {
  @apply text-5xl text-indigo-900 dark:text-white font-bold font-ptSans;
}

p {
  @apply text-black dark:text-white
}

label {
  @apply text-black dark:text-white font-semibold text-base;
}

/** This is for the inputs in the forms to change tasks */
.input-tasks {
  @apply rounded-md outline-none bg-white dark:bg-slate-800 placeholder:text-gray-500 p-2 shadow-md border border-indigo-700 dark:border-none placeholder:italic;
}

/** This is for the inputs in the forms of register or login*/
.input-auth {
  @apply bg-transparent border-b outline-none border-slate-400 text-lg w-full pb-2
}

/** This is for the forms inside a modal */
.form-modal {
  @apply flex flex-col gap-2 p-4
}

/** This is for the scroll bar styles */
::-webkit-scrollbar {
  @apply w-auto
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-700 rounded-sm
}

::-webkit-scrollbar-track {
  @apply dark:bg-gray-900
}

::-webkit-scrollbar-button {
  @apply dark:bg-gray-900
}

::-webkit-scrollbar-corner {
  @apply bg-indigo-400
}
/** This is for the calendar styles */
/** Principal div */
.react-calendar { 
 @apply w-72 sm:w-80 max-w-full fixed bg-white dark:bg-slate-800 border border-indigo-700 dark:border-indigo-900 p-5 rounded-lg mt-2 shadow-xl
}
/** Header */
.react-calendar__navigation {
  @apply flex justify-between items-center gap-3
}
.react-calendar__navigation button {
  @apply text-indigo-700 dark:text-white mt-2 min-w-max
}
abbr[title] {
 text-decoration: none;
}
/** Days of the weekend */
.react-calendar__month-view__days__day--weekend {
 @apply text-indigo-900 dark:text-indigo-200
} 
/** Container of days */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 @apply bg-indigo-700 dark:bg-white text-white dark:text-indigo-700 rounded-lg
}
/** Container of today */
.react-calendar__tile--now {
  @apply bg-indigo-900 text-white font-bold rounded-lg
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
 @apply bg-indigo-800 text-white
}
/** Container of active days */
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
 @apply bg-white
}
.react-calendar__tile--active {
 background: #4338ca;
 border-radius: 6px;
 font-weight: bold;
 color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
 background: #4338ca;
 color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
 background-color: #6b7280;
}
.react-calendar__tile--range {
 background: #6b7280;
 color: #4338ca;
 border-radius: 0;
}
.react-calendar__tile--rangeStart {
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
 border-top-left-radius: 6px;
 border-bottom-left-radius: 6px;
 background: #4338ca;
 color: white;
}
.react-calendar__tile--rangeEnd {
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 border-top-right-radius: 6px;
 border-bottom-right-radius: 6px;
 background: #4338ca;
 color: white;
}